/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {

}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


#book-title-md{display: none;}
.row{margin-right: 0 !important; margin-left: 0 !important;}
#book-options-md{display: none;}
#book-options-sm{display: none;}
#required-book{display: none; color: red;}
#optional-book{display: none; color: green;}
#book-required-xs{color: red;}
#book-optional-xs{color: green;}
@media (min-width: 768px) {
    p{font-size: 16px;}
    #book-title-md{ display: block;}
    #book-title-sm{display: none;}
    #book-required-xs, #book-optional-xs{display: none;}
    .book-select{height: auto !important;}
    #book-options-sm{display: block;}
    #book-options-xs{display: none;}
    #required-book{display: inline;}
    #optional-book{display: inline;}
}
@media (min-width: 992px){
    /*#book-title-md{ display: block;}
    #book-title-sm{display: none;}*/
    p{font-size: 18px;}
    #select-none{display: none;}
    #book-options-md{display: block;}
    #book-options-sm{display: none;}
}

