<div class="row"><h2 class="col-md-4 col-md-offset-4">Book from json file</h2></div>

<div ng-controller="BookFromFileCtrl as boo"><!-- style="max-width: 900px;" -->
    <!-- <div>{{ boo.turtle }}</div> -->
    <div ng-repeat="book in books" class="row"> <!--style="margin-bottom: 20px;" -->
        <div class="col-md-12">

            <!-- title inline with image -->
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ book.image }}" class="img-thumbnail"/>
                </div>
                <div class="col-md-10">
                    <h2 ng-if="book.required == 'Required'" style="background: red;">{{
                        book.name }} - {{ book.required }}</h2>

                    <h2 class="text-center" ng-if="book.required == 'Optional'" style="background: green;">{{
                        book.name }} - {{ book.required }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2" id="info">
                    Author: {{ book.author }}<br/>
                    ISBN: {{ book.isbn }}
                </div>
                <div class="col-md-3">
                    Publisher: {{ book.publisher }}<br/>
                    Edition: {{ book.edition }}
                </div>
                <div class="col-md-4">
                    <select name="book-type" class="form-control input-lg">
                        <option value="none"></option>
                        <option ng-repeat="price in book.prices" value="{{ price.name }}-{{ price.amount }}">
                            {{ price.binding }} {{ price.name }} - {{ price.amount }}
                        </option>
                    </select>
                </div>
            </div>
        </div>




        <!-- original below with title at top -->
        <div class="row">
            <h2 class="col-md-12 text-center" ng-if="book.required == 'Required'" style="background: red;">{{
                book.name }} - {{ book.required }}</h2>

            <h2 class="col-md-12 text-center" ng-if="book.required == 'Optional'" style="background: green;">{{
                book.name }} - {{ book.required }}</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="{{ book.image }}"/> <!-- style="float: left;" -->
            </div>

            <div class="col-md-6" id="info">
                <div class="row">
                    <div class="col-md-6">
                        Author: {{ book.author }}<br/>
                        ISBN: {{ book.isbn }}

                    </div>
                    <div class="col-md-6">
                        Publisher: {{ book.publisher }}<br/>
                        Edition: {{ book.edition }}
                    </div>
                </div>
            </div>
            <div class="col-md-4"><!-- style="float: right;"> -->
                <!-- not using ng-options, couldn't get the price and name in the label with it-->
                <select name="book-type" class="form-control">
                    <option value="none"></option>
                    <option ng-repeat="price in book.prices" value="{{ price.name }}-{{ price.amount }}">
                        {{ price.binding }} {{ price.name }} - {{ price.amount }}
                    </option>
                </select>
            </div>

            <!-- <div> -->
            <!-- drop down of price options <select ng-model="price" name="book-option" ng-options="price as price.name for price in book.prices"></select> -->
            <!-- prices using radio buttons
            <div ng-repeat="price in book.prices">
                <input type="radio" name="price {{book.isbn}}" value="{{price.name}}">
                {{ price.name }} {{ price.binding }}: {{ price.amount }}
                <br/>
            </div>
            <div ng-if="books.length > 1">
                <input type="radio" name="price {{book.isbn}}" value="none"> Don't Need
            </div> -->
            <!-- </div> -->
        </div>
        <div style="clear: both; margin-bottom: 30px;"></div>
    </div>
</div>