<div class="row"><h2 class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">Card UI Book </h2></div>
<style>
    .card{
        background: #fff;
        border: 1px solid #AAA;
        border-bottom: 3px solid #BBB;
        padding: 0;
        /*margin: 15px;*/
        overflow: hidden;
        /*max-width: 400px;*/
    }
    .card h1{
        margin: 0;
        padding: 10px;
        padding-bottom: 0;
    }
    .card p{
        margin: 0;
        padding: 10px;
    }
    .card-image{
        width: 100%;
        height: 225px;
        padding: 0;
        margin: 0;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        overflow: hidden;
    }
    .book1{
        background-image: url('http://ecx.images-amazon.com/images/I/51II9bYrMXL.jpg');
    }
    .book2{
        background-image: url('http://ecx.images-amazon.com/images/I/41UWC4kbxGL.jpg');
    }
    .card-image .banner{
        height: 60px;
        width: 70px;
        top: 0;
        right: 0;
        background-position: top right;
        background-repeat: no-repeat;
        /*background-image: url('../img/required.png');*/
        background-image: url('http://localhost:63342/angular-test/app/img/required.png');
        position: absolute;
        z-index: 2;
    }
    .card-image h2{
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        background: rgba(0,0,0,0.65);
        margin: 0;
        padding: 6px;
        border: none;
    }
    .price-box{
        margin-top: 10px;
        background: #45A7E6;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.3em;
        color: #fff;
        cursor: pointer;
        top: 4px;
    }
    .price-options p{
        font-size: 0.75em;
    }
    .price-options{
        background-color: #0e83cd;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-left: -15px !important;
        margin-right: -15px !important;
        cursor: pointer;
    }
    .buyrent-container .active{
        background: #0e83cd;
        top: 0;
    }
    .price-options-container .active{
        background: #055385;
    }
    .btn-group{
        display: block;
    }
    .card-image h2{ line-height: 0.65; padding-top: 10px;}
    .card-image h2 small{font-size: 0.45em; color: #bbb}
    .price-box .btn{width: 100%;}
    .price-selected{
        font-size: 1.1em;
        padding: 15px 0;
    }
    .accordion-toggle{
        /*background: #f0f;*/
        display: block;
        padding: 10px 15px;
    }
    .panel-heading{
        padding: 0;
    }
    /*.course-info{
        background: rgba(14,131,205,0.8);
        color: white;
    }*/
    .course-info{
        position: absolute;
        top: 0;
        width: 100%;
        color: white;
        background: rgba(14,131,205,0.8);
        margin: 0;
        padding: 6px;
        border: none;
    }
    .course-info h4{
        margin: 0;
        padding: 6px;
    }
    .course-info h4 small{
        color: #fff;
    }
</style>

<div class="row" ng-controller="BookCardCtrl">
    <div class="card col-md-6 col-xs-12 col-sm-6 col-lg-4">

        <!-- trying out course info on top of card -->
        <!-- <div class="row">
            <div class="course-info col-xs-12">
                <h4>Principles of Biology 1<br/>
                    <small>Dr. Jackson</small>
                </h4>
            </div>
        </div> -->

        <div class="row">
            <div class="card-image book1 col-md-12">
                <div class="banner" style="background: url(http://localhost:63342/angular-test/app/img/required2.png);"></div>
                <div class="course-info">
                    <h4>Principles of Biology 1<br/>
                        <small>Dr. Jackson</small>
                    </h4>
                </div>
                <h2>Campbell Biology<br/><small>Dr. Zoiberg</small></h2>
            </div>
        </div>

        <!-- price section with tabs -->
        <div class="price">
            <div class="row">
                <div class="buyrent-container">
                    <div class="price-box col-xs-6 text-center" ng-model="radioModel" ng-click="buyCollapse = false; rentCollapse = true" btn-radio="'Buy'">
                        Buy
                    </div>
                    <div class="price-box col-xs-6 text-center" ng-model="radioModel" ng-click="buyCollapse = true; rentCollapse = false" btn-radio="'Rent'">
                        Rent
                    </div>
                </div>
                <div class="col-xs-12 price-options-container">
                    <div class="row price-options" collapse="buyCollapse" ng-model="radioModel2" btn-radio="'Buy New $45.99'">
                        <div class="col-xs-9">
                            <p>Buy New</p>
                        </div>
                        <div class="col-xs-3">
                            <p>$45.99</p>
                        </div>
                    </div>
                    <div class="row price-options" collapse="buyCollapse" ng-model="radioModel2" btn-radio="'Buy Used $27.99'">
                        <div class="col-xs-9">
                            <p>Buy Used</p>
                        </div>
                        <div class="col-xs-3">
                            <p>$27.99</p>
                        </div>
                    </div>
                    <div class="row price-options" collapse="rentCollapse" ng-model="radioModel2" btn-radio="'Rent eBook $23.95'">
                        <div class="col-xs-9">
                            <p>Rent eBook<br/><small>180 day rental</small></p>
                        </div>
                        <div class="col-xs-3">
                            <p>$23.95</p>
                        </div>
                    </div>
                    <div class="row price-options" collapse="rentCollapse" ng-model="radioModel2" btn-radio="'Rent Hardcover $13.95'">
                        <div class="col-xs-9">
                            <p>Rent Hardcover<br/><small>Rental due back: 5/15/2014</small></p>
                        </div>
                        <div class="col-xs-3">
                            <p>$13.95</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price-selected">
            <div class="row">
                <div class="col-sm-5">
                    Option Selected:
                </div>
                <div class="col-sm-7">
                    {{radioModel2}} <span ng-show="radioModel2 != 'None'" ng-model="radioModel2" btn-radio="'None'" style="top: 0; right: 0; margin-top: -15px; position: absolute; cursor: pointer; color: #f00;">X</span>
                </div>
            </div>
        </div>
        <!-- price section with buttons working, commented out to try a section with css tabs instead of buttons
        <div class="price">
            <div class="row btn-group btn-group-large">
                <div class="price-box buy col-md-6">
                    <button type="button" class="btn btn-primary" ng-model="radioModel" ng-click="buyCollapse = false; rentCollapse = true" btn-radio="'Buy'">Buy</button>
                </div>
                <div class="price-box rent col-md-6">
                    <button type="button" class="btn btn-primary" ng-model="radioModel" ng-click="buyCollapse = true; rentCollapse = false" btn-radio="'Rent'">Rent</button>
                </div>
            </div>
            <div class="row price-options" collapse="buyCollapse">
                <div class="col-md-9">
                    <p>Buy New</p>
                </div>
                <div class="col-md-3">
                    <p>$45.99</p>
                </div>
            </div>
            <div class="row price-options" collapse="buyCollapse">
                <div class="col-md-9">
                    <p>Buy Used</p>
                </div>
                <div class="col-md-3">
                    <p>$27.99</p>
                </div>
            </div>
            <div class="row price-options" collapse="rentCollapse" style="cursor: pointer;">
                <div class="col-md-9">
                    <p>Rent New</p>
                </div>
                <div class="col-md-3">
                    <p>$23.95</p>
                </div>
            </div>
            <div class="row price-options" collapse="rentCollapse">
                <div class="col-md-9">
                    <p>Rent Used</p>
                </div>
                <div class="col-md-3">
                    <p>$13.95</p>
                </div>
            </div>
        </div> -->
        <div class="info">
            <accordion>
                <accordion-group is-open="isopen">
                    <accordion-heading>
                        Book information
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                    </accordion-heading>
                    ISBN: 97801234567890<br/>
                    Edition: 9th<br/>
                    Publisher: Pearson<br/>
                    Author: Dr. Zoiberg<br/>
                    Course: BIOL - 1440 - 001<br/>
                    <span style="color: red">* Required</span><br/>
                    Item Notes: This is an important note about this item.<br/>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>



